<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
  
    
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>com.admin.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerRegister</servlet-name>
  	<display-name>PlayerRegister</display-name>
  	<description></description>
  	<servlet-class>com.player.PlayerRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerLogin</servlet-name>
  	<display-name>PlayerLogin</display-name>
  	<description></description>
  	<servlet-class>com.player.PlayerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerLogout</servlet-name>
  	<display-name>PlayerLogout</display-name>
  	<description></description>
  	<servlet-class>com.player.PlayerLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerApplyForSelection</servlet-name>
  	<display-name>PlayerApplyForSelection</display-name>
  	<description></description>
  	<servlet-class>com.player.PlayerApplyForSelection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerApplicationInsertDao</servlet-name>
  	<display-name>PlayerApplicationInsertDao</display-name>
  	<description></description>
  	<servlet-class>com.player.PlayerApplicationInsertDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerViewStatus</servlet-name>
  	<display-name>PlayerViewStatus</display-name>
  	<description></description>
  	<servlet-class>com.player.PlayerViewStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CoachRegister</servlet-name>
  	<display-name>CoachRegister</display-name>
  	<description></description>
  	<servlet-class>com.coach.CoachRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CoachLogin</servlet-name>
  	<display-name>CoachLogin</display-name>
  	<description></description>
  	<servlet-class>com.coach.CoachLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CoachLogout</servlet-name>
  	<display-name>CoachLogout</display-name>
  	<description></description>
  	<servlet-class>com.coach.CoachLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CoachViewStatus</servlet-name>
  	<display-name>CoachViewStatus</display-name>
  	<description></description>
  	<servlet-class>com.coach.CoachViewStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminViewPlayers</servlet-name>
  	<display-name>AdminViewPlayers</display-name>
  	<description></description>
  	<servlet-class>com.admin.AdminViewPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCoaches</servlet-name>
  	<display-name>AddCoaches</display-name>
  	<description></description>
  	<servlet-class>com.admin.AddCoaches</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCoachStatus</servlet-name>
  	<display-name>UpdateCoachStatus</display-name>
  	<description></description>
  	<servlet-class>com.admin.UpdateCoachStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCoaches</servlet-name>
  	<display-name>DeleteCoaches</display-name>
  	<description></description>
  	<servlet-class>com.admin.DeleteCoaches</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCoachStatus</servlet-name>
  	<display-name>DeleteCoachStatus</display-name>
  	<description></description>
  	<servlet-class>com.admin.DeleteCoachStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BattingPlayers</servlet-name>
  	<display-name>BattingPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.BattingPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BowlingPlayers</servlet-name>
  	<display-name>BowlingPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.BowlingPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WicketKeepingPlayers</servlet-name>
  	<display-name>WicketKeepingPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.WicketKeepingPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllrounderPlayers</servlet-name>
  	<display-name>AllrounderPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.AllrounderPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BattingAssignFitnessScores</servlet-name>
  	<display-name>BattingAssignFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.BattingAssignFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignBatsmenFitnessScores</servlet-name>
  	<display-name>AssignBatsmenFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.AssignBatsmenFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BowlingAssignFitnessScores</servlet-name>
  	<display-name>BowlingAssignFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.BowlingAssignFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignBowlerFitnessScores</servlet-name>
  	<display-name>AssignBowlerFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.AssignBowlerFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KeepingAssignFitnessScores</servlet-name>
  	<display-name>KeepingAssignFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.KeepingAssignFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignKeeperFitnessScores</servlet-name>
  	<display-name>AssignKeeperFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.AssignKeeperFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllrounderAssignFitnessScores</servlet-name>
  	<display-name>AllrounderAssignFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.AllrounderAssignFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignAllrounderFitnessScores</servlet-name>
  	<display-name>AssignAllrounderFitnessScores</display-name>
  	<description></description>
  	<servlet-class>com.coach.AssignAllrounderFitnessScores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BattingSelectPlayers</servlet-name>
  	<display-name>BattingSelectPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.BattingSelectPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePlayerStatus</servlet-name>
  	<display-name>UpdatePlayerStatus</display-name>
  	<description></description>
  	<servlet-class>com.coach.UpdatePlayerStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BowlingSelectPlayers</servlet-name>
  	<display-name>BowlingSelectPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.BowlingSelectPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllrounderSelectPlayers</servlet-name>
  	<display-name>AllrounderSelectPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.AllrounderSelectPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WicketKeeperSelectPlayers</servlet-name>
  	<display-name>WicketKeeperSelectPlayers</display-name>
  	<description></description>
  	<servlet-class>com.coach.WicketKeeperSelectPlayers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewT20SelectionTeam</servlet-name>
  	<display-name>ViewT20SelectionTeam</display-name>
  	<description></description>
  	<servlet-class>com.admin.ViewT20SelectionTeam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOdiSelectionTeam</servlet-name>
  	<display-name>ViewOdiSelectionTeam</display-name>
  	<description></description>
  	<servlet-class>com.admin.ViewOdiSelectionTeam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewTestSelectionTeam</servlet-name>
  	<display-name>ViewTestSelectionTeam</display-name>
  	<description></description>
  	<servlet-class>com.admin.ViewTestSelectionTeam</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerRegister</servlet-name>
  	<url-pattern>/PlayerRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerLogin</servlet-name>
  	<url-pattern>/PlayerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerLogout</servlet-name>
  	<url-pattern>/PlayerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerApplyForSelection</servlet-name>
  	<url-pattern>/PlayerApplyForSelection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerApplicationInsertDao</servlet-name>
  	<url-pattern>/PlayerApplicationInsertDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerViewStatus</servlet-name>
  	<url-pattern>/PlayerViewStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CoachRegister</servlet-name>
  	<url-pattern>/CoachRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CoachLogin</servlet-name>
  	<url-pattern>/CoachLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CoachLogout</servlet-name>
  	<url-pattern>/CoachLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CoachViewStatus</servlet-name>
  	<url-pattern>/CoachViewStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminViewPlayers</servlet-name>
  	<url-pattern>/AdminViewPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCoaches</servlet-name>
  	<url-pattern>/AddCoaches</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCoachStatus</servlet-name>
  	<url-pattern>/UpdateCoachStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCoaches</servlet-name>
  	<url-pattern>/DeleteCoaches</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCoachStatus</servlet-name>
  	<url-pattern>/DeleteCoachStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BattingPlayers</servlet-name>
  	<url-pattern>/BattingPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BowlingPlayers</servlet-name>
  	<url-pattern>/BowlingPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WicketKeepingPlayers</servlet-name>
  	<url-pattern>/WicketKeepingPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllrounderPlayers</servlet-name>
  	<url-pattern>/AllrounderPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BattingAssignFitnessScores</servlet-name>
  	<url-pattern>/BattingAssignFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignBatsmenFitnessScores</servlet-name>
  	<url-pattern>/AssignBatsmenFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BowlingAssignFitnessScores</servlet-name>
  	<url-pattern>/BowlingAssignFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignBowlerFitnessScores</servlet-name>
  	<url-pattern>/AssignBowlerFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KeepingAssignFitnessScores</servlet-name>
  	<url-pattern>/KeepingAssignFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignKeeperFitnessScores</servlet-name>
  	<url-pattern>/AssignKeeperFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllrounderAssignFitnessScores</servlet-name>
  	<url-pattern>/AllrounderAssignFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignAllrounderFitnessScores</servlet-name>
  	<url-pattern>/AssignAllrounderFitnessScores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BattingSelectPlayers</servlet-name>
  	<url-pattern>/BattingSelectPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePlayerStatus</servlet-name>
  	<url-pattern>/UpdatePlayerStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BowlingSelectPlayers</servlet-name>
  	<url-pattern>/BowlingSelectPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllrounderSelectPlayers</servlet-name>
  	<url-pattern>/AllrounderSelectPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WicketKeeperSelectPlayers</servlet-name>
  	<url-pattern>/WicketKeeperSelectPlayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewT20SelectionTeam</servlet-name>
  	<url-pattern>/ViewT20SelectionTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOdiSelectionTeam</servlet-name>
  	<url-pattern>/ViewOdiSelectionTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTestSelectionTeam</servlet-name>
  	<url-pattern>/ViewTestSelectionTeam</url-pattern>
  </servlet-mapping>
</web-app>
